<div class="d-none d-md-block">
	<div class="shadow pb-1 pt-0 mt-0 mb-1 bg-light rounded"></div>

	<div class="d-flex small text-muted">

		<div class="p-2">
		  <div><%#= render 'users/who' %></div>
	  	<div>Generated: <span class="time"><%=Time.now%></span></div>
	  </div>

	  <div class="ml-auto p-2">
	  		<a class="navbar-brand" href="<%=root_path%>">
			  	<img src="/logo.png" height="30em">
			  </a>
	  </div>
	  
	</div>
</div>